html {
    font-family: monospace;
}

.header-container {
    background-color: rgb(142, 142, 142);
    padding: 0 5%;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 5rem;
    font-family: "Cinzel", serif;
    font-weight: 600;
    padding: 1.5rem 0;
    letter-spacing: 0.1em;
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: justify;
    font-size: 13px;
    padding-bottom: 1rem;
}

a {
    margin: 0 0.5rem;
    text-decoration: none;
    color: yellow;
}
a:hover {
    color: white;
    transition-delay: 0.05s;
}

@media (min-width: 425px) {
    h1 {
        font-size: 6rem;
        text-align: center;
    }
    nav ul {
        font-size: 15px;
        letter-spacing: 0.01em;
    }
    a {
        margin: 0 1rem;
    }
}

@media (min-width: 760px) {
    h1 {
        font-size: 7rem;
    }
    nav ul {
        font-size: 17px;
        letter-spacing: 0.1em;
    }
}
